<!DOCTYPE html>
<html>
<head>
    <title>Court Data Fetcher</title>
</head>
<body>
    <h1>Court Data Fetcher</h1>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

<form method="POST">
  <label>Case Type:</label>
  <input type="text" name="case_type" placeholder="e.g. CS" required>

  <label>Case Number:</label>
  <input type="text" name="case_number" placeholder="e.g. 123" required>

  <label>Year:</label>
  <input type="text" name="year" placeholder="e.g. 2023" required>

  <button type="submit">Search Case</button>
</form>


    {% if data %}
        <h2>Case Details</h2>
        <p><strong>Case:</strong> {{ data.case_title }}</p>
        <p><strong>Parties:</strong> {{ data.parties }}</p>
        <p><strong>Filing Date:</strong> {{ data.filing_date }}</p>
        <p><strong>Next Hearing:</strong> {{ data.next_hearing }}</p>
        <p><a href="{{ data.latest_order_link }}" target="_blank">Download Latest Order</a></p>
    {% endif %}
</body>
</html>

